<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" key="t-menu"><%=translation.t_menu %></li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="bx bx-home-circle"></i>
            <span key="t-dashboards"><%=translation.t_dashboards %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="index" key="t-default"><%=translation.t_default %></a>
            </li>
            <li>
              <a href="dashboard-saas" key="t-saas"><%=translation.t_saas %></a>
            </li>
            <li>
              <a href="dashboard-crypto" key="t-crypto"
                ><%=translation.t_crypto %></a
              >
            </li>
            <li>
              <a href="dashboard-blog" key="t-blog"><%=translation.t_blog %></a>
            </li>
            <li>
              <a href="dashboard-job" key="t-jobs"><%=translation.t_jobs %></a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/companies" class="waves-effect">
            <i class="fas fa-users"></i>
            <span key="t-chat">Companies</span>
          </a>
        </li>
        <!-- Only render the Account Type link if company_id exists in localStorage -->
        <li id="accountsLink" class="d-none">
          <a href="/companies/:id/accounts" class="waves-effect">
            <i class="fas fa-book"></i>
            <span key="t-chat">Accounts</span>
          </a>
        </li>
        <li id="transactionsLink" class="d-none">
          <a href="/companies/:id/transactions" class="waves-effect">
            <i class="fas fa-money-bill-wave"></i>
            <span key="t-chat">Transactions</span>
          </a>
        </li>
        <li id="accountstypeLink" class="d-none">
          <a href="/companies/:id/account_type" class="waves-effect">
            <i class="fas fa-link"></i>
            <span key="t-chat">Account Type</span>
          </a>
        </li>
        <li id="balanceLink" class="d-none">
          <a href="/companies/:id/balance-sheet" class="waves-effect">
            <i class="fas fa-money-check-alt"></i>
            <span key="t-chat">Balance Sheet</span>
          </a>
        </li>
        <li id="importLink" class="d-none">
          <a href="/companies/:id/account_type" class="waves-effect">
            <i class="fas fa-file-csv"></i>
            <span key="t-chat">Import</span>
          </a>
        </li>
        <li id="usersLink" class="d-none">
          <a href="/companies/:id/account_type" class="waves-effect">
            <i class="fas fa-users"></i>
            <span key="t-chat">Users</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
