<%- contentFor('HeaderCss') %> <%- include ('../partials/title-meta',
{"title":"Balance Sheet"}) %>
<!-- DataTables -->
<link
  href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('body') %> <%- include ('../partials/page-title', {"pagetitle":
"Balance Sheet" , "title" : "Balance Sheet" }) %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="row card-title mt-3">
        <div class="col-md-11">
          <h4 class="card-title">Balance Sheet</h4>
        </div>
      </div>
      <div class="card-body">
        <table id="balancedatatable" class="table table-bordered dt-responsive nowrap w-100">
          <thead>
            <tr>
              <th>Account</th>
              <th>Minus</th>
              <th>Account</th>
              <th>Plus</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through both minus and plus accounts together -->
            <% for(let i = 0; i < Math.max(minusAccounts.length, plusAccounts.length); i++) { %>
              <tr>
                <!-- Display Minus Account -->
                <td>
                  <% if (minusAccounts[i]) { %>
                    <a href="/companies/<%= company_id %>/ledger/<%= minusAccounts[i].user_id %>">
                      <%= minusAccounts[i].account %>
                    </a>
                  <% } %>
                </td>
                <!-- Display Minus Balance -->
                <td style="color: red">
                  <% if (minusAccounts[i]) { %>
                    <%= minusAccounts[i].minus %>
                  <% } %>
                </td>
        
                <!-- Display Plus Account -->
                <td>
                  <% if (plusAccounts[i]) { %>
                    <a href="/companies/<%= company_id %>/ledger/<%= plusAccounts[i].user_id %>">
                      <%= plusAccounts[i].account %>
                    </a>
                  <% } %>
                </td>
                <!-- Display Plus Balance -->
                <td style="color: green">
                  <% if (plusAccounts[i]) { %>
                    <%= plusAccounts[i].plus %>
                  <% } %>
                </td>
              </tr>
            <% } %>
          </tbody>
        
          <tfoot>
            <tr>
              <th>Total</th>
              <th style="color: red"><%= totalMinus %></th>
              <th>Total</th>
              <th style="color: green"><%= totalPlus %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/js/pages/datatables.init.js"></script>
<script>
  $(document).ready(function () {
    // Initialize DataTable
    const dataTable = $("#balancedatatable").DataTable({
      order: [
        [3, "desc"],
        [0, "asc"],
      ],
      pageLength: 300,
      lengthMenu: [
        [120, 50, 100, -1],
        [120, 50, 100, "All"],
      ],
      paging: true,
      searching: true,
      // ordering: true,
      autoWidth: false,
    });
    // If company_id exists in localStorage, display the relevant links in the sidebar
    const storedCompanyId = localStorage.getItem("company_id");
    if (storedCompanyId) {
      showSidebarLinks(storedCompanyId);
    }
  });
</script>
