<%- contentFor('HeaderCss') %> <%- include ('../partials/title-meta',
{"title":"Balance Sheet"}) %>
<!-- DataTables -->
<link
  href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('body') %> <%- include ('../partials/page-title', {"pagetitle":
"Balance Sheet" , "title" : "Balance Sheet" }) %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="row card-title mt-3">
        <div class="col-md-11">
          <h4 class="card-title">Balance Sheet</h4>
        </div>
      </div>
      <div class="card-body">
        <table
          id="datatable"
          class="table table-bordered dt-responsive nowrap w-100"
        >
          <thead>
            <tr>
              <th>Account</th>
              <th>Minus</th>
              <th>Account</th>
              <th>Plus</th>
            </tr>
          </thead>

          <tbody>
            <!-- Display Minus Accounts -->
            <% minusAccounts.forEach(function(data) { %>
            <tr>
              <a href="/companies/<%= company_id %>/ledger/<%= data.user_id %>">
                <%= data.account %>
              </a>
              <td style="color: red"><%= data.minus %></td>
              <!-- Display Minus in red -->
              <td></td>
              <!-- Empty cell for Plus -->
              <td></td>
              <!-- Empty cell for Plus -->
            </tr>
            <% }) %>

            <!-- Display Plus Accounts -->
            <% plusAccounts.forEach(function(data) { %>
            <tr>
              <td></td>
              <!-- Empty cell for Minus -->
              <td></td>
              <!-- Empty cell for Minus -->
              <td><%= data.account %></td>
              <!-- Display Plus Account -->
              <td style="color: green"><%= data.plus %></td>
              <!-- Display Plus in green -->
            </tr>
            <% }) %>
          </tbody>

          <!-- Table Footer for Totals -->
          <tfoot>
            <tr>
              <th>Total</th>
              <th style="color: red"><%= totalMinus %></th>
              <!-- Display total Minus in red -->
              <th>Total</th>
              <th style="color: green"><%= totalPlus %></th>
              <!-- Display total Plus in green -->
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/js/pages/datatables.init.js"></script>
