<%- contentFor('HeaderCss') %> <%- include ('../partials/title-meta',
{"title":"Ledger"}) %>
<!-- DataTables -->
<link
  href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<!-- Responsive datatable examples -->
<link
  href="/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
  rel="stylesheet"
  type="text/css"
/>

<%- contentFor('body') %> <%- include('../partials/page-title', { "pagetitle":
user.username + ' Ledger', "title": user.username + ' Ledger' }) %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="row card-title mt-3">
        <div class="col-md-11">
          <h4 class="card-title"><%= user.username %> Ledger</h4>
        </div>
      </div>
      <div class="card-body">
        <table
          id="datatable"
          class="table table-bordered dt-responsive nowrap w-100"
        >
          <thead>
            <tr>
              <th>Account</th>
              <th>Minus</th>
              <th>Account</th>
              <th>Plus</th>
            </tr>
          </thead>
          <tbody>
            <!-- Display Minus Accounts (Negative Balances) -->
            <% leftAccounts.forEach(function(data) { %>
            <tr>
              <!-- Account Name for Minus (Negative) Balances -->
              <td><%= data.account %></td>
              <!-- Minus Balance in Red -->
              <td style="color: red"><%= data.negative %></td>
              <!-- Empty cells for Plus -->
              <td></td>
              <td></td>
            </tr>
            <% }) %>

            <!-- Display Balance Key if Balance is Greater than 0 (on Left Side) -->
            <% if (balanceKey > 0) { %>
            <tr>
              <td>Balance</td>
              <td style="color: red"><%= balanceKey %></td>
              <td></td>
              <td></td>
            </tr>
            <% } %>

            <!-- Display Plus Accounts (Positive Balances) -->
            <% rightAccounts.forEach(function(data) { %>
            <tr>
              <!-- Empty cells for Minus -->
              <td></td>
              <td></td>
              <!-- Account Name for Plus (Positive) Balances -->
              <td><%= data.account %></td>
              <!-- Plus Balance in Green -->
              <td style="color: green"><%= data.positive %></td>
            </tr>
            <% }) %>

            <!-- Display Balance Key if Balance is Less than 0 (on Right Side) -->
            <% if (balanceKey < 0) { %>
            <tr>
              <td></td>
              <td></td>
              <td>Balance</td>
              <td style="color: green"><%= Math.abs(balanceKey) %></td>
            </tr>
            <% } %>
          </tbody>

          <!-- Table Footer for Totals -->
          <tfoot>
            <tr>
              <th style="color: red">Total</th>
              <!-- Display total Minus (Left side) in Red -->
              <th style="color: red"><%= totalLeft %></th>
              <!-- Balance Key for Right Side -->
              <th style="color: green">Total</th>
              <!-- Display total Plus (Right side) in Green -->
              <th style="color: green"><%= totalRight %></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->

<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="/assets/js/pages/datatables.init.js"></script>
<script>
  // If company_id exists in localStorage, display the relevant links in the sidebar
  const storedCompanyId = localStorage.getItem("company_id");
  if (storedCompanyId) {
    showSidebarLinks(storedCompanyId);
  }
</script>
